body {
	background: rgba(0, 0, 0, 0.5);
}

input[type=checkbox] {
	height: 16px;
	width: 16px;
	vertical-align: bottom;
}

#menuButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background-image: url(img/menu_bars.png);
	width: 32px;
	height: 32px;
	opacity: 0.85;
	background-color: rgba(255, 255, 255, 0.4);
}

#configDialogWarningText {
	color: red;
	text-align: center;
}